<a href="https://colab.research.google.com/github/SaiKushal1718/My_First_Python_Program/blob/main/Python_Assignment_214507.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sairam I will be starting my first program Keyword Syntax Error/Mistakes Debugging

In [ ]:
print("SATYA SAI")

SATYA SAI

In [ ]:
print('SRI')
print('SATYA')
print('SAI')
k=18
print (k)

SRI
SATYA
SAI
18

In [ ]:
print("Hello, World")
if 9 > 6 :
  print("nine is greater than six")

Hello, World
nine is greater than six

In [ ]:
type (18)
type(1.8)
a = type (10)
print (a)

<class 'int'>

In [ ]:
int (1.9)

1

In [ ]:
str (21)

'21'

In [ ]:
True
False

False

In [ ]:
bool (1)

True

In [ ]:
int(True)

1

In [ ]:
float(True)

1.0

In [ ]:
a = 8//2
print("coficient is",a)

coficient is 4

In [ ]:
p = 13%2
print (p)

1

In [ ]:
name = "Kushal"
print (name[2])

s

In [ ]:
print (name[-3])

h

In [ ]:
len ('Kushal')

6

In [ ]:
name[0:4]

'Kush'

**Chapter 2** 2nd

In [ ]:
name = "chunk"
print ("hello " + name )

hello chunk

**Chapter 2** 3rd

In [ ]:
h = 28
p = 5.8
gross = h * p
print (gross)

162.4

**Chapter 2** 4th

In [ ]:
width = 32
height = 26.2
print (width//2)

16

In [ ]:
print (width/2.0)

16.0

In [ ]:
print (height/3)

8.733333333333333

In [ ]:
k = 30 + 25 * 32
print (k)

830

**Chapter 2** 5th

In [ ]:
C = 58.2
f = ( C * 9/5 ) + 32
print (f)

136.76000000000002

In [ ]:
name1 = " Earth revolves around the sun "
print (name1 [6:15])

 revolves

In [ ]:
name1 [-4:-1]

'sun'

In [ ]:
name2 = "I love eating"
name3 = " veggies "
name4 = " fruits "
print (name2  + name3  +  "and" +  name4)

I love eating veggies and fruits

In [ ]:
num = " 4 "
print (name2 + num + name4 + " everyday ")

I love eating 4  fruits  everyday

Leap Year..

In [ ]:
year = int (input("Enter the year:"))
if (year % 400 == 0):
   print ("Year is Leap Year")
elif (year % 4 == 0 and year % 100 != 0):
   print ("Year is Leap Year")
else:
   print ("Year is not Leap Year")

Enter the year:2004
Year is Leap Year

In [ ]:
price1 = float(input('Enter the 1 price : '))
piece1 = float(input('Enter the 1 box : '))
price2 = float(input('Enter the 2 price : '))
piece2 = float(input('Enter the 2 box : '))

elasticity = (piece2 - piece1) / (price2 - price1)
print(elasticity)
if (elasticity < 1) :
 print("inelasatic")
elif (elasticity > 1) :
 print ("elastc")

**Chapter 3** 1st

In [ ]:
a = float(input("Enter Hour\n"))
b = float(input("Enter rate\n"))

if(a>40):
  c=(a-40)*1.5*b+(40*b)
else:
  c=a*b  
  
print(c)

Enter Hour
50
Enter rate
40
2200.0

**Chapter 3** 2nd

In [ ]:
try:
   a = float(input("Enter Hour\n"))
   b = float(input("Enter rate\n"))

   if (a>40):
     c=(a-40)*1.5*b+(40*b)
   else:
     c=a*b   
     print(c)
except:
  print("Please enter numeric input")

**Chapter 3** 3rd

In [ ]:
a=float(input("Enter your score\n"))
if(a<0.0 or a>1.0) :
  print("Score is out of range!!")
elif(a>=0.9):
  print("A")
elif(a>=0.8):
  print("B")
elif(a>=0.7):
  print("C")
elif(a>=0.6):
  print("D")      
else:
  print("F")

Enter your score
0.2
F

**Chapter 4** 5th

In [ ]:
def fred():
 print("Zap")
def jane():
 print("ABC")
jane()
fred()
jane()

ABC
Zap
ABC

**Chapter 4** 6th

In [ ]:
def computepay(Hours,rate):
  if(Hours>40):
    pay=(Hours-40)*1.5*rate+(40*rate)
  else:
    pay=Hours*rate  
  return pay

Hours = float(input("Enter Hour\n"))
rate = float(input("Enter rate\n"))
pay = computepay(Hours , rate)  
print( 'pay :',pay)

Enter Hour
45
Enter rate
10
pay : 475.0

**Chapter 4** 7th

In [ ]:
def computegrade(score):
  if(score<0.0 or score>1.0) :
    return("Score is out of range!!")
  elif(score>=0.9):
    return("A")
  elif(score>=0.8):
    return("B")
  elif(score>=0.7):
    return("C")
  elif(score>=0.6):
    return("D")      
  else:
    return("F")
try:
  score=float(input("Enter your score\n"))
  print(computegrade(score))
except Exception :
  print('Enter a number')

Enter your score
Sairam
Enter a number

**Chapter 5** 1st

In [ ]:
count=0
total=0
while True :
  value=input('Enter the number\n')
  if (value=='done'):
    break
  try:
    value1=float(value)
  except:
    print('Invalid input')
  total=total+value1
  count=count+1
print(total,count,total/count)

Enter the number
4
Enter the number
3
Enter the number
9
Enter the number
done
16.0 3 5.333333333333333

**Chapter 5** 2nd

In [ ]:
count=0
list=[]
while True :
  element=input('Enter the number\n')
  if (element=='done'):
    break
  try:
    value1=float(element)
    list.append(value1)
    
  except:
    print('Invalid input')

  if count==0 :
    min_val=value1
    max_val=value1
  elif value1<min_val:
    min_val=value1
  elif value1>max_val:
    max_val=value1

  count=count+1
print('The list of elements are :',list)
print(min_val , max_val)

Enter the number
45
Enter the number
25
Enter the number
554
Enter the number
56
Enter the number
98
Enter the number
Finish
Invalid input
Enter the number
done
The list of elements are : [45.0, 25.0, 554.0, 56.0, 98.0]
25.0 554.0

**Chapter 8**

In [ ]:
my_nums = []

while True:
  a = input("Enter a number:")
  if a == 'done' :
    break
  try:
    val = float(a)
  except:
    print("invalid input")
    continue
  my_nums.append(val)
 

print(min(my_nums) )
print(max(my_nums))

Enter a number:7676
Enter a number:276
Enter a number:6
Enter a number:787
Enter a number:56789
Enter a number:567
Enter a number:999
Enter a number:done
6.0
56789.0